*{
    font-family: poppins;
}

body{
    background-color: rgb(90, 88, 88);
    margin: 0;
}

body nav{
    background-color: transparent;
    margin: 0 auto;
}

.top-banner{
    width: 100%;
    height: 400px;
    background-image: url(images/Screenshot\ 2023-09-11\ 224543.png);
    background-size: cover;
    background-position: center;
}

.banner{
    color: #eee;
}

.info .top{
    color: #eee;
}

.about img{
    width: 300px;
}

.footer, .end{
    color: #eee;
}

.footer ul li, address{
    list-style-type: none;
    margin: 5px;
    width: 200px;
}

.footer h5{
    text-align: center;
    margin-bottom: 15px;
}

.about{
    width: 100%;
    background-image: url(images/bg1d.png);
    background-size: cover;
    background-position: center;
    color: #eee;
}

.about h6{
    background-color: #e74560;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
}

.form{
    background-image: url(images/cont1.png);
    background-size: cover;
    background-position: center;
    color: #eee;
}

.form input, label, textarea{
    display: block; 
    width: 100%;
    margin-bottom: 5px; 
    border: none; 
    outline: none; 
    color: #eee
}

.form input{
    height: 35px; 
    color: #46467a; 
} 

.form textarea{
    resize: none;
    color: #062743;
    margin-bottom: 15px;
    padding: 10px;
}

/* .form .cont-img{
    background-image: url(images/contact\ us.jpg);
    background-size: cover;
    background-position: center;
} */

.overlay{
    background-color: rgba(21, 20, 20, 0.8);
    min-height: 30px;
    min-width: 1%;
    margin: 0;
}

.portfolio{
    color: #eee;
}